# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
toutiao_baidu/client/.swan/editor.json
toutiao_baidu/client/.swan/editor.json
toutiao_baidu/client/.swan/editor.json
